.register{
    background: $body-bg;
}
#app, #landing, .content{
    @include cover();
}
section {
    margin: 0 auto;
    max-width: 650px;

    & + & {
        margin-top: 3.5rem;
    }
}

.checkboxes {
    > div {
        display: flex;
        margin-top: 1rem;

        &:not(:first-of-type) {
            margin-top: .5rem;
        }

        > * + * {
            margin-left: .5rem;
        }

        > * {
            flex: 1;
        }
    }
}

.next {
    text-align: right;
}

.tags-container {
    display: flex;
    margin-top: 1rem;

    > * + * {
        margin-left: 1rem;
    }
}

.tags {
    margin-top: .65rem;
}

.tag {
    display: inline-block;
    background: #71adad;
    padding: .5rem 1.5rem;
    border-radius: 4px;
    color: #fff;

    & + & {
        margin-left: .65rem;
    }
}
