.blog{
  @include flex();
  @include flex-center();
  .blog--callout{
    width: 100%;
    text-align: center;
    h1, h2{
      color: $primary;
    }
  }
}
.posts{
  width: 100%;
  padding: 0 50px;
  @include flex();
  @include flex-row(nowrap);
  justify-content: space-around;
}
.extra-padding{
  margin-bottom: 100px;
}