.jumbo{
  padding: 0 25px 25px 25px;
  width: 100%;
  margin-bottom: 25px;
  .jumbo--screen{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    .action--callout{
      margin-bottom: 5%;
      text-align: right;
      font-size: 32px;
      color: #2E4556;
      .action--btn:hover{
        background: darken(#65cccc, 50%);
      }
    }
    .action--btns {
      align-self: flex-end;
      > * + * {
        margin-left: .75rem;
      }
    }
    .jumbo--actions{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 40%;
      left: 7%;
      z-index: 99;
      .action--btn{
        color: inherit;
      }
    }
    .screen{
      width: 100%;
      position: absolute;
    }
  }
}
