.checkbox {
    display: inline-block;
    padding: .5rem 1rem;
    user-select: none;
    background: #fff;
    text-align: center;
    color: $gray-light;
}

.is-checked {
    color: #fff;
    background: #71adad;
}
