.post{
  width: 30.33%;
  min-height: 450px;
  flex-grow: 0;
  cursor: pointer;
  @include flex();
  @include flex-column();

  .post--card{
    @include flex();
    @include flex-column();
    @include card(3);
    padding: 5%;
    @include transition(all, .5s);
    .card--title{
      width: 100%;
      min-height: 100px;
      @include flex();
      @include flex-center();
      .title{
        padding: 0 2%;
        text-align: center;
        font-size: 22px;
        color: $primary;
      }
    }
    .card--image{
      width: 100%;
    }
  },
  .post--description{
    margin-top: 5%;
    .description{
      text-align: center;
    }
  }
}
.post--card:hover{
  @include card(5);
}
