.navbar-brand{
  flex: 1;
  font-size: 22px;
}
.navbar{
  width: 100%;
  @include flex();
  @include flex-row(wrap);
  align-items: center;
  padding: 25px;
  justify-content: flex-end;
  background: #fff;

  .navbar-nav{
    align-self: flex-end;
    list-style: none;

    > * + * {
      margin-left: 2rem;
    }

    @include flex();
    @include flex-row(nowrap);
    align-items: center;
    justify-content: space-around;
    padding-bottom: .3rem;
    .nav-link{
      letter-spacing: 5px;
      position: relative;
      .red-dot{
        position: absolute;
        width: 10px;
        height: 10px;
        background: red;
        right: -10px;
        bottom: 50%;
        margin-bottom: -5px;
        border-radius: 50%;
        text-align: center;
        color: white!important;
      }
    }
    .special--item{
      padding: 1.35rem 1.75rem;
      border-radius: 4px;
      background: $primary;
      @include flex();
      @include flex-center();
      span {
        color: white!important;
      }
    }
    .special--item-reverse{
      @include flex();
      @include flex-center();
      span {
        color: $primary!important;
      }
    }
  }
}
