*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-size: 14px;
}

body {
    padding-top: 5rem;
    font-family: 'Futura', Helvetica, sans-serif;
    background: $body-bg;
}

h1, h2, h3, h4, h5, h6 {
    color: #aaa;
    font-weight: normal;
}

